<form class="form-ajax" method="post" action="{{ url('ajax/payment/user-credit/purchase') }}">
    <div class="form-group">
        <label for="amount">{{ __('Amount') }}</label>
        <input class="form-control" type="number" name="amount" id="amount"
               data-rule-min="{{ config('user_credit_min_prepaid_credit') }}"
               required
        >
    </div>

    <div class="form-group">
        <label for="method">{{ __('Payment Method') }}</label>
        <select name="payment_method" id="method" class="form-control" required>
            {% for paymentMethod in paymentMethods %}
            <option value="{{ paymentMethod.type }}">{{ paymentMethod.name }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">{{ __('Buy Credit') }}</button>
</form>
